<!DOCTYPE html>
<html lang="en">
<head>
  <title>ADMIN PANNEL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container card mt-4">
    <h2 class="card-header text-center bg-gray-900" style="background-color: lightseagreen; color: white;">ADMIN PANNEL
    </h2>
    <div class="card-body">
        <ul style="list-style: none;">
            <li class="m-2"><a class="btn btn-primary" href="/pdfList">Manage PDFs</a></li>
            <li class="m-2"><a class="btn btn-primary" href="/StudentList">Manage Students</a></li>
            <li class="m-2"><a class="btn btn-danger" href="/adminLogout">Logout Admin</a></li>
        </ul>
    </div>
</div>

</body>
</html>