<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/logo.png" type="image/icon type">
    <title>OnlineStudy</title>
    <link rel="stylesheet" href="/css/pdf_viewer.css">

    <!-- special javascript and css for disable advance options -->
    <script type="text/javascript" src="/javascript/disableDevoloper.js"></script>
    <link rel="stylesheet" href="/css/disableDevoloper.css">
</head>
<body>

    <!-- external javascript to disable devoloper or advance features -->
    <div id="amm_drcfw_toast_msg"></div>

    <!-- ------------testing pdf link and hiding url----------- -->
    <div class="wrapper">
        <div class="hidelogo"></div>
        <iframe width='100%' height='100%' frameborder='0' allowfullscreen
            src="<%= pdf_url %>" src=''></iframe>
    </div>
    <!-- ------------ending here testing pdf link and hiding url----------- -->
</body>
</html>